#!/bin/bash

homedir=`grep ${SUDO_USER} /etc/passwd | awk -F':' '{print $6}'`
homepia="${homedir}/.pia"
default="{{ pia_default }}"

cd /etc/openvpn/pia || exit 1

function startVPN {
  basename "${1}"
  openvpn "${1}"
}

if [[ -d ${homepia} ]]; then
  if [[ -n `ls ${homepia}/*.ovpn` ]]; then
    startVPN "`find ${homepia} -name '*.ovpn' | head -1`"
  else
    startVPN "${default}"
  fi
else
  startVPN "${default}"
fi

exit 0

