#!/bin/bash

[[ -z ${SUDO_USER} ]] && SUDO_USER="root"

###################################
# Default variables
###################################

ovpndir="/etc/openvpn/pia"
secret="/etc/openvpn/secret"
homedir=`grep ${SUDO_USER} /etc/passwd | awk -F':' '{print $6}'`
homevpn="${homedir}/.pia"
default="Netherlands.ovpn"

###################################
# Functions
###################################

function startVPN {
  basename "${1}"
  openvpn "${1}"
}

function createSecret {

    echo "<user>" >  ${secret}
    echo "<pass>" >> ${secret}

    vi ${secret}
    chmod -v 600 ${secret}
}

###################################
# Check credentials
###################################

if [[ -f ${secret} ]]; then
  if [[ -n `head -1 ${secret} | grep '<user>'` ]]; then
    createSecret
  fi
else
  createSecret
fi

###################################
# Checking for ovpn files
###################################

ovpncfg=${default}
if [[ -d ${homevpn} ]]; then
  if [[ -n `ls ${homevpn}/*.ovpn` ]]; then
    ovpncfg=`find ${homevpn} -name '*.ovpn' | head -1`
  fi
fi 

###################################
# Select VPN config
###################################

echo "Connecting to ${ovpncfg} in 3 seconds..."
read -t 4 -p "Select other server? (y): " select

if [[ -n `echo ${select} | grep -i "y"` ]]; then

  ls ${ovpndir}
  echo
  read -p "Select: " ovpncfg

  [[ -z ${ovpncfg} ]]              && exit 1
  [[ ! -f ${ovpndir}/${ovpncfg} ]] && exit 1
  [[ ! -d ${homevpn} ]] && mkdir -p ${homevpn}

  cd ${homevpn} || exit 1
  rm -f *.ovpn

  ln -vs "${ovpndir}/${ovpncfg}"
  chown ${SUDO_USER}. ${homevpn}

fi

###################################
# Start VPN connection
###################################

cd /etc/openvpn/pia || exit 1
startVPN ${ovpncfg}

exit 0
