[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=Private Internet Access
GenericName=Private Internet Access
Comment=Private Internet Access
Exec=xterm -bg black -fg white -e "sudo /etc/openvpn/scripts/openvpn-pia"
Terminal=false
Icon=channel-secure
Type=Application
Categories=Application;Network;Security

